*
!public/
!tasks/
!tasks/*.json
!tasks/subtypes/
!tasks/subtypes/*/
!tasks/subtypes/*/*.json
!tasks/solutions/
!tasks/solutions/*/
!tasks/solutions/*/*/
!tasks/solutions/*/*/*.html
!tasks/entrance10/
!tasks/entrance10/*.json
!tasks/ege/
!tasks/ege/*.json
!tasks/vpr/
!tasks/vpr/grade_5/
!tasks/vpr/grade_5/*.json
!tasks/vpr/grade_6/
!tasks/vpr/grade_6/*.json
!tasks/vpr/grade_7/
!tasks/vpr/grade_7/*.json
!tasks/vpr/grade_8/
!tasks/vpr/grade_8/*.json
!tasks/alg/
!tasks/alg/grade_5/
!tasks/alg/grade_5/*.json
!tasks/alg/grade_6/
!tasks/alg/grade_6/*.json
!tasks/alg/grade_7/
!tasks/alg/grade_7/*.json
!tasks/alg/grade_8/
!tasks/alg/grade_8/*.json
!tasks/geom/
!tasks/geom/grade_7/
!tasks/geom/grade_7/*.json
!tasks/geom/grade_8/
!tasks/geom/grade_8/*.json
!tasks/geom/grade_9/
!tasks/geom/grade_9/*.json
!.gitignore
